<!DOCTYPE html>
<%- include('scripts.ejs') %>

    <body>

        <div class="modal modal-tour position-static d-block py-5" tabindex="-1" role="dialog"
            id="modalTour">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-body p-5">
                        <h2 class="fw-bold mb-0">Order Created</h2>
                        <button type="button" onclick="location.href = '/addOrder';" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">Thank You</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>